.homebg{
background-image: url("https://www.elfinanciero.com.mx/uploads/2020/07/14/84fec9a8e41594738971_standard_desktop_medium_retina.webp");
  background-repeat: repeat;
}

.cardbg{
    background: black;
}